* {
  font-family: "Fira Code Nerd Font";
  /*font-family: "Noto Sans Nerd Font", sans-serif;*/
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  /* background-color: rgba(11, 18, 30, 0.9);*/
  background-color: #152528;
  /* color: #c4c4c4; */
  color: #8b8b8b;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 3px;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
  color: #8b8b8b;
  border-radius: 20px;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.active {
  /* background-color: #6c9fff; */
  color: #e1e1e1;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#workspaces button.focused {
	background-color: #006666;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#window,
/* #custom-power, */
#bluetooth {
  padding: 0px 10px;
  /* color: #e1e1e1; */
  color: #8b8b8b;
  /* background-color: rgba(35, 35, 35, 0.7); */
}

#workspaces {
  margin: 0px 5px 0px 5px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right {
  margin-right: 0;
}

#window {
  border-radius: 20px 20px 20px 20px;
  margin: 0px 0px 0px 0px;
  background-color: rgba(39, 42, 52, 0);
}

/* #custom-power {
    color: #ff0046;
    border-radius: 20px;
    transition: all 250ms ease-in-out;
} */

#battery.charging {
  /* color: #0087ff; */
  color: #ea6398;
}

#clock {
  border-radius: 20px;
  margin: 0px 5px 0px 5px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#battery {
  border-radius: 0 20px 20px 0;
  margin: 0px 0px 0px 0px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#pulseaudio {
  border-radius: 0 0 0 0;
  margin: 0px -15px 0px 0px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#pulseaudio.muted {
  color: orange;
}

#network {
  /* background-color: rgba(39, 42, 52, 0); */
  margin: 0px 0px 0px 0px;
  /* color: #3e42ff; */
}

#network.disconnected {
  color: red;
}

#backlight {
  /* background-color: rgba(39, 42, 52, 0); */
  margin: 0px 0px 0px 0px;
}

#tray {
  /* border-radius: 20px; */
  margin: 0 5px;
}

#cpu {
  /* border-radius: 20px 0 0 20px; */
  margin: 0px 0px 0px 5px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#memory {
  /* margin: 5px 0px 5px 0px; */
  /* border-radius: 0 20px 20px 0; */
  margin: 0px 0px 0px 0px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#temperature {
  /* border-radius: 0 20px 20px 0; */
  margin: 0px 0px 0px 0px;
  /* background-color: rgba(39, 42, 52, 0); */
}

#custom-logo {
  color: #1794d1;
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 20px;
}

#bluetooth {
  /* border-radius: 20px 0 0 20px; */
  margin: 0px -5px 0px 0px;
  /* color: #4572ff; */
  color: transparent;
  /* background-color: rgba(39, 42, 52, 0); */
}

#bluetooth.connected {
  /* border-radius: 20px 0 0 20px; */
  margin: 5px -5px 5px 5px;
  color: #e1e1e1;
  /* background-color: rgba(39, 42, 52, 0); */
}
